# Archivos y carpetas del IDE
.idea/
*.iml
*.ipr
*.iws

# Carpetas de compilación
/build/
/app/build/
/out/

# Archivos de sistema
.DS_Store
Thumbs.db

# Gradle
.gradle/
local.properties

# Otros
/captures/
*.log
